:root {
  /* Colors */
  --primary: #5928e5;
  --white: #fffffe;
  --grey: #94a1b2;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --background-1: #16161a;
  --background-2: #242629;
  --button-background: #7f5af0;

  --headline1: 700 4.5rem/5rem Arvo;
  --headline2: 700 4rem/4.75rem Arvo;
  --headline3: 700 2rem/2rem Arvo;
  --headline4: 700 1.5rem/1.649999976158142rem Arvo;
  --button: 400 1.125rem/1.6875rem Arvo;
  --caption: 400 0.75rem/1.6875rem Arvo;
  --headline5: 700 1.25rem/1.649999976158142rem Arvo;
  --body1-regular: 400 1.125rem/1.6875rem Arvo;
  --body1-bold: 700 1.125rem/1.6875rem Arvo;
  --body2-regular: 400 0.875rem/1.6875rem Arvo;
  --body2-bold: 700 0.875rem/1.6875rem Arvo;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arvo", serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background: var(--background-1);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 16px;
  background: var(--background-1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar__links {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  padding: 0 16px;
  background: var(--background-1);
  transform: translateX(100%);
  transition: 0.8s transform;
  list-style: none;
}

.navbar__menu-button {
  background: none;
  border: none;
  display: grid;
  place-items: center;
}

.navbar__links.navbar__links--is-visible {
  transform: translateX(0);
}

.navbar__links .active {
  color: white;
}

.navbar__links a {
  color: var(--secondary);
  text-decoration: none;
  font: var(--headline3);
}

/* if(screen > 768px && screen < 1440px ) */
@media screen and (min-width: 768px) {
  .navbar__links {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    transform: translateX(0);
    height: auto;
    width: auto;
    background: transparent;
    gap: 40px;
  }

  .navbar__menu-button {
    display: none;
  }

  .navbar__links a {
    color: var(--secondary);
    text-decoration: none;
    font: var(--body2-bold);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 80px 0px;
  margin-top: 64px;
}

.hero__title {
  font: var(--headline4);
}

.hero__desc {
  font: var(--body1-regular);
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 24px;
  }

  .hero__title {
    font: var(--headline1);
  }
}

.projects {
  padding: 64px 0;
}

.projects__title {
  font: var(--headline4);
}

.projects-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 780px;
}

.project__image {
  width: 100%;
}

.project__title {
  font: var(--body1-regular);
  color: var(--grey);
}

.project__desc {
  font: var(--headline5);
  color: var(--grey);
}

.project__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project__link {
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  background: var(--primary);
  color: var(--white);
  font: var(--button);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.project__link--outline {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .projects-container {
    margin-top: 80px;
  }
  .projects__title {
    max-width: 782px;
    font: var(--headline2);
    text-align: center;
    margin: 0 auto;
  }

  .project {
    margin: 0 auto;
    gap: 40px;
  }

  .project__desc {
    font: var(--headline3);
  }

  .project__links {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .project__link {
    max-width: 260px;
  }
}

.enterprises {
  padding: 64px 0;
}

.enterprises h3 {
  font: var(--headline4);
}

.enterprises__container {
  display: grid;
  margin-top: 40px;
}

.enterprises__container img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .enterprises {
    padding: 80px 0;
  }
  .enterprises h3 {
    font: var(--headline2);
  }
  .enterprises__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 80px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px 0;
}

.contact h3 {
  font: var(--headline4);
}

.contact a {
  font-family: "Arvo";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: var(--button-background);
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 80px 0;
    gap: 80px;
  }

  .contact h3 {
    font: var(--headline2);
  }

  .contact a {
    font-size: 64px;
    line-height: 76px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 0;
  margin-bottom: 64px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.footer__list__title {
  font: var(--body1-regular);
  color: var(--secondary);
}

.footer__list a {
  color: white;
  text-decoration: none;
  font: var(--body2-regular);
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .footer__list {
    min-width: 268px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  width: max-content;
  color: white;
  font: var(--button);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--primary);
  cursor: pointer;
}
